@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;700;900&display=swap');
*
{
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;
    overflow: none;
}

.header
{
    height: 80px;
    width: 100%;
    background-color: black;
    padding-top: 0px;
}

#logo_container
{
    float: left;
    padding: 15px 240px;
}

#inner_header a
{
    text-decoration: none;
    position: relative;
    color: white;
    top: 30px;
    left: -80px;
    font-size: 22px;
    word-spacing: 10px;
}

#inner_header form
{
    float: right;
    position: relative;
    right: 25%;
}

.translate p
{
    float: right;
    color: white;
    position: relative;
    right: 26%;
    padding-top: 5px;
}

.translate img
{
    float: right;
    position: relative;
    right: 16.5%;
    padding-top: 6px;
}

.line
{
    width: 30px;
    height: 1px;
    background: white;
    transform: rotate(90deg);
    float: right;
    position: relative;
    top: 12px;
    right: 13%;
}

#shop form
{
    float: right;
    position: relative;
    right: 8%;
    top: -8px;
}

.middle_contener
{
    margin: -10px 0;
    width: 100%;
    height: 500px;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 46px 8px inset;
    background-color: #b3b3b3;
}

#img_contener img
{
    float: left;
    position: relative;
    top: -30px;
    left: 13%;
    width: 400px;
}

#button
{
    float: right;
    position: fixed;
    right: 13%;
    top: 60%;
}

#button button
{
    width: 400px;
    height: 50px;
    border: none;
    color: white;
    background-color: #2f2e2e;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #ffff;
    transition: ease-out 0.50s;
    font-size: 1rem;
    outline: none;
    font-weight: 700;
    position: relative;
}

#button button:hover
{
    box-shadow: inset 400px 0 0 0 #ffff;
    color: black;
    cursor: pointer;
}

#info h1
{
    float: right;
    font-weight: bold;
    font-size: 19px;
    position: relative;
    right: 32%;
    padding-top: 40px;
}

#info h2
{
    float: right;
    position: relative;
    padding-top: 5%;
    right: 7%;
    font-size: 62px;
    font-weight: 100;
}

#info h3
{
    float: right;
    position: relative;
    padding-top: 10%;
    right: -0.5%;
    font-size: 62px;
    font-weight: 100;
}

#info h4
{
    float: right;
    position: relative;
    right: -17%;
    padding-top: 15%;
    font-weight: 700;
    font-size: 19px;
}
